In [153]:
import sqlite3
import pandas as pd

# Connect to SQLite database
connection = sqlite3.connect('sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = connection.cursor()

In [154]:
#Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members! */

# Define SQL query
query = """
SELECT f.name, 
    SUM(
        CASE
            WHEN b.memid = 0 THEN b.slots * f.guestcost -- cost for guests
            ELSE b.slots * f.membercost -- cost for members 
        END
    ) AS Total_Revenue
FROM Facilities as f
Inner JOIN Bookings as b ON b.facid = f.facid
GROUP BY f.name
HAVING Total_Revenue < 1000
ORDER BY Total_Revenue DESC
"""

# Execute the SQL query and fetch the result into a pandas DataFrame
df = pd.read_sql_query(query, connection)
 
# Print the DF
print(df)

            name  Total_Revenue
0     Pool Table            270
1  Snooker Table            240
2   Table Tennis            180

In [155]:
# /* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

# Define SQL query
query = """
SELECT m1.firstname || ' ' || m1.surname AS Member, 
       m2.firstname || ' ' || m2.surname AS Recommended_by 
FROM Members AS m1 
LEFT JOIN Members AS m2 ON m1.recommendedby = m2.memid 
WHERE m1.recommendedby != ''
ORDER BY m2.surname, m2.firstname;
"""

# Execute the SQL query and fetch the result into a pandas DataFrame
df = pd.read_sql_query(query, connection)

# Print the DF
print(df)

                     Member     Recommended_by
0          Ramnaresh Sarwin     Florence Bader
1               Joan Coplin      Timothy Baker
2           Matthew Genting     Gerald Butters
3             Timothy Baker     Jemima Farrell
4              David Pinker     Jemima Farrell
5          Henrietta Rumney    Matthew Genting
6             Douglas Jones        David Jones
7                Nancy Dare    Janice Joplette
8               David Jones    Janice Joplette
9                 John Hunt  Millicent Purview
10               Tim Boothe         Tim Rownam
11          Janice Joplette       Darren Smith
12           Gerald Butters       Darren Smith
13             Charles Owen       Darren Smith
14               Jack Smith       Darren Smith
15           Anna Mackenzie       Darren Smith
16  Henry Worthington-Smyth        Tracy Smith
17        Millicent Purview        Tracy Smith
18            Erica Crumpet        Tracy Smith
19               Anne Baker    Ponder Stibbons
20           Florence Bader    Ponder Stibbons
21          Ponder Stibbons       Burton Tracy

In [156]:
#/* Q12: Find the facilities with their usage by member, but not guests */

# Define SQL query
query = """
SELECT f.name, COUNT(b.bookid) as 'Total Member Bookings', SUM(b.slots) as 'Total Slots'
FROM Facilities as f
INNER JOIN Bookings as b ON b.facid = f.facid
GROUP BY f.name
"""

# Execute the SQL query and fetch the result into a pandas DataFrame
df = pd.read_sql_query(query, connection)

# Print the DF
print(df)

              name  Total Member Bookings  Total Slots
0  Badminton Court                    383         1209
1   Massage Room 1                    629         1404
2   Massage Room 2                    111          228
3       Pool Table                    836          910
4    Snooker Table                    444          908
5     Squash Court                    440         1104
6     Table Tennis                    403          830
7   Tennis Court 1                    408         1320
8   Tennis Court 2                    389         1278

In [157]:
#/* Q13: Find the facilities usage by month, but not guests */

# Define SQL query
query = """
SELECT f.name, strftime('%m', b.starttime) as Month, COUNT(b.bookid) as 'Total Member Bookings'
FROM Facilities as f
INNER JOIN Bookings as b ON b.facid = f.facid
WHERE b.memid != 0
GROUP BY Month, f.name
"""

# Execute the SQL query and fetch the result into a pandas DataFrame
df = pd.read_sql_query(query, connection)

# Print the DF
print(df)

               name Month  Total Member Bookings
0   Badminton Court    07                     51
1    Massage Room 1    07                     77
2    Massage Room 2    07                      4
3        Pool Table    07                    103
4     Snooker Table    07                     68
5      Squash Court    07                     23
6      Table Tennis    07                     48
7    Tennis Court 1    07                     65
8    Tennis Court 2    07                     41
9   Badminton Court    08                    132
10   Massage Room 1    08                    153
11   Massage Room 2    08                      9
12       Pool Table    08                    272
13    Snooker Table    08                    154
14     Squash Court    08                     85
15     Table Tennis    08                    143
16   Tennis Court 1    08                    111
17   Tennis Court 2    08                    109
18  Badminton Court    09                    161
19   Massage Room 1    09                    191
20   Massage Room 2    09                     14
21       Pool Table    09                    408
22    Snooker Table    09                    199
23     Squash Court    09                     87
24     Table Tennis    09                    194
25   Tennis Court 1    09                    132
26   Tennis Court 2    09                    126